link(rel='stylesheet', href='/css/bootstrap.min.css')
link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
link(rel='stylesheet', href='/css/custom.css')
script(type='text/javascript', src='/js/jquery-1.9.1.js')
script(type='text/javascript', src='/js/bootstrap.min.js')