script
  $(function() {
      $('#parserform').submit(function(e) {
          if (!$('#command').val()) {
            e.preventDefault();
          }
      });
  });

extends default
block content
  .jumbotron
    h1 commando.
    br
    .row-fluid
      .span8.offset2
        #myAlert.alert
          .button.close.alert
          blah blah blah
        form.form-search(method="get", name="parserform", id="parserform",action="/parse")
          .input-append
            input.input-xxlarge.search-query(id="command", type="text", name="command")
            input.btn.btn-primary(type="submit", value="Enter")
    br
    p.text-center Sign in with google for more options!
    a(href="/auth/google")
      img(src='img/steffi.jpg', width="204", height="32", href="/auth/google")
  .row-fluid.text-center
    .span8.offset2
      h3.text-center Need Help?
      p.text-center Welcome to Commando - The Keyword-based networking service!
      br
      p.text-center Please click the button below to see a list of the most commonly used publicly available keywords!
      a(href="#")
        input.center.btn(value="Top Keywords")

    