.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href='/') Commando 
      .nav-collapse
        ul.nav
          if (req.isAuthenticated())
            li.active
              a(href='/') Home
            li
              a(href='/new') New Keyword
            li
              a(href='/profile') Profile
          else
            li.active
              a(href='/') Home
            li
              a(href='/auth/google') Login
        ul.nav.pull-right
          if (req.isAuthenticated())
            li
              a(href='') Welcome #{req.user.username}
            li 
              a(href='/logout') Logout
          
            