

.navbar.navbar-fixed-top
  .navbar-inner
    .container
      a.brand(href='/') Commando 
      .nav-collapse
        ul.nav
          if (req.isAuthenticated())
            li.active
              a(href='/') Home
            li
              a(href='/new') New Keyword
            li
              a(href='/profile') Profile
          else
            li
              a(href='/') Home
            li
              a(href='/auth/google') Login
        ul.nav.pull-right
          if(!hideNavSearch)
            li
              form.navbar-form.span5.form-search(method="get", id="parserform", action="/parse")
                .input-append
                  input.search-query.span4(type="text", name="command", id="parser")
                  .btn
                    .i.icon-search
          if (req.isAuthenticated())
            li
              a(href='') Welcome #{req.user.username}
            li 
              a(href='/logout') Logout
          
            